#binaries (executables and intermediate objects):
gk-shp.exe
gk-shp
gk-slo.exe
gk-slo
xgk-slo.exe
xgk-slo
*.obj
*.o

#test output:
*.log

#clang code coverage traces for codecov:
*.gcno
*.gcda

# MacOS specific:
.DS_Store
