# Binaries (executables and intermediate objects)
gk-shp.exe
gk-shp
gk-slo.exe
gk-slo
xgk-slo.exe
xgk-slo
*.obj
*.o

# Test output
*.log

# Clang code coverage traces for Codecov
*.gcno
*.gcda

# MacOS specific
.DS_Store
